# Windows thumbnail cache files
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
ehthumbs_vista.db

# Dump file
*.stackdump

# Folder config file
[Dd]esktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msix
*.msm
*.msp

# Windows shortcuts
*.lnk

welcome.htm
welcome.html
temp.txt
.idea/
__pycache__/

data/~$1_EEGNet_100_BNCI2014001_BNCI2014002_32_Adam_EA.xlsx
train.ipynb