<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{{url_for('static', filename='layui/css/layui.css')}}" rel="stylesheet">
</head>

<body>
    <table style="width:85%; margin:0 auto;">
        <tr style="height:30px;"></tr>
        <tr>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/图1 BNCI2014001 迁移到 BNCI2014004 任务上的先进迁移学习算法的实验结果对比.png')}}" style="width:100%;">
            </td>
            <td style="width:5%;"></td>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/图2 我们的方法在 BNCI2014001 迁移到 BNCI2014004 任务上与各先进方法的实验对比.png')}}" style="width:100%;">
            </td>
        </tr>
        <tr>
            <td style="text-align:center; font-size:22px;"><strong>图1 BNCI2014001 迁移到 BNCI2014004 任务上的先进迁移学习算法的实验结果对比</strong></td>
            <td></td>
            <td style="text-align:center; font-size: 22px;"><strong>图2 我们的方法在 BNCI2014001 迁移到 BNCI2014004 任务上与各先进方法的实验对比</strong></td>
        </tr>
        <tr style="height:45px;"></tr>

        <tr>
            <td style="text-align:center; font-size: 22px;"><strong>表1 BNCI2014001 迁移到 BNCI2014004 数据集的各种算法的 Accuracy 指标对比</strong></td>
            <td></td>
            <td style="text-align:center; font-size: 22px;"><strong>表2 BNCI2014001 迁移到 BNCI2014004 数据集的各种算法的 Precision 指标对比</strong></td>
        </tr>
        <tr>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/表1 BNCI2014001 迁移到 BNCI2014004 数据集的各种算法的 Accuracy 指标对比.png')}}" style="width:100%;">
            </td>
            <td style="width:5%;"></td>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/表2 BNCI2014001 迁移到 BNCI2014004 数据集的各种算法的 Precision 指标对比.png')}}" style="width:100%;">
            </td>
        </tr>
        <tr style="height:45px;"></tr>


        <tr>
            <td style="text-align:center; font-size: 22px;"><strong>表3 BNCI2014001 迁移到 BNCI2014004 数据集的各种算法的 Recall 指标对比</strong></td>
            <td></td>
            <td style="text-align:center; font-size: 22px;"><strong>表4 BNCI2014001 迁移到 BNCI2014004 数据集的各种算法的 F1-Score 指标对比</strong></td>
        </tr>
        <tr>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/表3 BNCI2014001 迁移到 BNCI2014004 数据集的各种算法的 Recall 指标对比.png')}}" style="width:100%;">
            </td>
            <td style="width:5%;"></td>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/表4 BNCI2014001 迁移到 BNCI2014004 数据集的各种算法的 F1-Score 指标对比.png')}}" style="width:100%;">
            </td>
        </tr>
        <tr style="height:45px;"></tr>

        <tr>
            <td style="text-align:center; font-size: 22px;"><strong>表5 BNCI2014001 迁移到 BNCI2014004 数据集的各种EA粒度下的各迁移学习算法 Accuracy 指标对比</strong></td>
            <td></td>
            <td style="text-align:center; font-size: 22px;"><strong>表6 BNCI2014001 迁移到 BNCI2014004 数据集的各种EA粒度下的各迁移学习算法 Precision 指标对比</strong></td>
        </tr>
        <tr>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/表5 BNCI2014001 迁移到 BNCI2014004 数据集的各种EA粒度下的各迁移学习算法 Accuracy 指标对比.png')}}" style="width:100%;">
            </td>
            <td style="width:5%;"></td>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/表6 BNCI2014001 迁移到 BNCI2014004 数据集的各种EA粒度下的各迁移学习算法 Precision 指标对比.png')}}" style="width:100%;">
            </td>
        </tr>
        <tr style="height:45px;"></tr>


                <tr>
            <td style="text-align:center; font-size: 22px;"><strong>表7 BNCI2014001 迁移到 BNCI2014004 数据集的各种EA粒度下的各迁移学习算法 Recall 指标对比</strong></td>
            <td></td>
            <td style="text-align:center; font-size: 22px;"><strong>表8 BNCI2014001 迁移到 BNCI2014004 数据集的各种EA粒度下的各迁移学习算法 F1-Score 指标对比</strong></td>
        </tr>
        <tr>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/表7 BNCI2014001 迁移到 BNCI2014004 数据集的各种EA粒度下的各迁移学习算法 Recall 指标对比.png')}}" style="width:100%;">
            </td>
            <td style="width:5%;"></td>
            <td style="width:40%;">
                <img src="{{url_for('static', filename='comparision/表8 BNCI2014001 迁移到 BNCI2014004 数据集的各种EA粒度下的各迁移学习算法 F1-Score 指标对比.png')}}" style="width:100%;">
            </td>
        </tr>
{#        <tr style="height:45px;"></tr>#}


        <tr style="height:45px;"></tr>
    </table>

    <script src="{{url_for('static', filename='layui/layui.js')}}"></script>
    <script>
        var $ = layui.$;
        layui.use(function () {
            $('#comparisionLi', window.parent.document).addClass('layui-this').siblings().removeClass('layui-this');
        })
    </script>
</body>

</html>