<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>无创脑机接口中的异构迁移学习系统</title>
    <link href="{{url_for('static', filename='layui/css/layui.css')}}" rel="stylesheet">
</head>

<body>
    <div class="layui-layout layui-layout-admin">
        <div class="layui-header">
            <div class="layui-logo layui-bg-black" style="width: 230pt;">无创脑机接口中的异构迁移学习系统</div>
            <!-- 头部区域（可配合layui已有的水平导航） -->
            <ul class="layui-nav layui-layout-left">
                <!-- 移动端显示 -->
                <li class="layui-nav-item layui-show-xs-inline-block layui-hide-sm" lay-header-event="menuLeft">
                    <i class="layui-icon layui-icon-spread-left"></i>
                </li>
            </ul>
            {% if username %}
            <ul class="layui-nav layui-layout-right">
                <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                    <a>
                        <img src="{{url_for('static', filename='head.jpg')}}" class="layui-nav-img">
                        {{ username }}
                    </a>
                </li>
                <li class="layui-nav-item layui-hide layui-show-sm-inline-block">
                    <a href="javascript: logout();">登出</a>
                </li>
            </ul>
            {% endif %}
        </div>

        <div class="layui-side layui-bg-black" style="width:230pt;">
            <div class="layui-side-scroll" style="width:100%;">
                <ul class="layui-nav layui-nav-tree" lay-filter="test" style="width: 100%;">
                    <li class="layui-nav-item" id="panelLi"><a onclick="subpage('/panel');">控制面板</a></li>
                    <li class="layui-nav-item" id="trainLi"><a onclick="subpage('/train');">结果展示</a></li>
                    <li class="layui-nav-item" id="resultLi"><a onclick="subpage('/result');">推演</a></li>
                    <li class="layui-nav-item" id="frameworkLi"><a onclick="subpage('/framework');">迁移学习算法架构总览</a></li>
                    <li class="layui-nav-item" id="comparisionLi"><a onclick="subpage('/comparision');">各迁移算法结果对比展示</a></li>
                </ul>
            </div>
        </div>

        <div class="layui-body" style="left:230pt;">
            {% if username %}
            <iframe id="body" style="width:100%; height:120%;" src='/panel'></iframe>
            {% else %}
            <iframe id="body" style="width:100%; height:100%;" src='/login'></iframe>
            {% endif %}
        </div>
    </div>

    <script src="{{url_for('static', filename='layui/layui.js')}}"></script>
    <script>
        var $ = layui.$;

        function logout() {
            sessionStorage.clear();
            location.href = '/logout';
        }

        function subpage(name) {
            if ($("[id='body']").attr("src") == '/panel') {
                let panel = $("[id='body']")[0].contentWindow;
                panel.data = panel.getData();
                sessionStorage.setItem('data', JSON.stringify(panel.data));
            }
            $("[id='body']").attr("src", name);
        }
    </script>
</body>
</html>